<div class="text-dark">
  <div class="card">
    <div class="card-header">
      Competency Based CV
    </div>
    <div class="card-body">
      <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/Competency-Based CV-1.png"
        class="img-fluid" alt="...">
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Practicum Acceptance
    </div>
    <div class="card-body">
      <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/Practicum Acceptance.PNG"
        class="img-fluid" alt="...">
    </div>
  </div>

  <div class="card" style="height: 800px;">
    <div class="card-header">
      Practicum Acceptance
    </div>
    <div class="card-body">
      <iframe src="https://johnvillar41.github.io/Website-portfolio/assets/files/SodaPDF-merged-Merging Result.pdf"
        class="responsive-iframe" frameborder="0"></iframe>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Training Plan
    </div>
    <div class="card-body">
      <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/Training Plan-1.png" class="img-fluid"
        alt="...">
    </div>
  </div>
</div>
