<div class="p-5 mb-4 bg-secondary rounded-3 mt-2">
  <div class="container-fluid">
    <h1 class="display-5 fw-bold">OJT</h1>
    <p class="col-md-8 fs-4">My Practicum circled around <b>AWS ATA Program</b> and <b>Linked in learning.</b> <br />
    </p>
    <div class="row row-cols-1 row-cols-md-2 mb-3">
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/images/accenture-logo.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Accenture AWS</h2>
              <p class="card-text">TMore Than 100,000 Accenture Employees Received World-Class Technology Education Through 10-Year Collaboration with MIT Professional...</p>
              <a class="btn btn-outline-dark" href="https://newsroom.accenture.com/news/more-than-100000-accenture-employees-received-world-class-technology-education-through-10-year--collaboration-with-the-massachusetts-institute-of-technology.htm">Read more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/images/linked in.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Linked In Learning</h2>
                <a class="btn btn-outline-dark" href="https://www.linkedin.com/learning/?u=89213594">Go to Linkedin Learning</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
