<div class="p-5 mb-4 bg-secondary rounded-3 mt-2">
  <div class="container-fluid">
    <h1 class="display-5 fw-bold">OJT</h1>
    <p class="fs-4">My Practicum circled around <b>AWS ATA Program</b> and <b>Linked in learning.</b> <br />
    </p>
    <div class="row row-cols-1 row-cols-md-2 mb-3">
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/accenture-logo.png"
              class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Accenture AWS</h2>
              <p class="card-text">TMore Than 100,000 Accenture Employees Received World-Class Technology Education
                Through 10-Year Collaboration with MIT Professional...</p>
              <a class="btn btn-outline-dark"
                href="https://newsroom.accenture.com/news/more-than-100000-accenture-employees-received-world-class-technology-education-through-10-year--collaboration-with-the-massachusetts-institute-of-technology.htm">Read
                more</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/linked in.png"
              class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Linked In Learning</h2>
              <a class="btn btn-outline-dark" href="https://www.linkedin.com/learning/?u=89213594">Go to Linkedin
                Learning</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="display-5 fw-bold">Practicum Engagement and Presentation of Output</h1>
    <div class="text-center">
      <img src="../../assets/images/Aws_Courses.PNG" class="rounded img-fluid" alt="...">
    </div>
    <p class="fs-4">Accenture ATA Program provided 4 courses from AWS: <b>Application Developer</b>, <b>Cloud Support Engineer</b>, <b>Introduction to Cloud</b>, <b>Introduction to AWS Management Console.</b>
    </p>
    <p class="fs-4">On each of these courses, I was tasked to watch the videos and do hands-on projects as well as knowledge checks after each videos. There were also
      Final exams and even projects.
    </p>

    <div class="text-center">
      <img src="../../assets/images/topic_application_developer.PNG" class="rounded img-fluid" alt="...">
    </div>
    <p class="fs-4">The image above shows the topics on course <b>Application Developer.</b> I learned about how to develop websites using javascipt, Data structures, Operating systems, and DevOps.
    </p>

    <div class="text-center">
      <img src="../../assets/images/topic_cloud_supportengineer.PNG" class="rounded img-fluid" alt="...">
    </div>
    <p class="fs-4">The image above shows the topics on course <b>Cloud Support Engineer.</b> I learned about Virtualizations ond Operating Systems, Network Architecture, Programming using Python and, Security.
    </p>


    <p class="fs-4">The last 2 courses Introduction to <b>Cloud 101</b> and <b>Introduction to AWS Management</b> were the easiest of the 4 courses. Introduction to cloud helped me to gain knowledge and experience with cloud fundamentals especially on AWS(Amazon Web Services) Cloud
      while Introduction to the AWS Management Console shows us the collection of service consoles for managing AWS resources.
    </p>
  </div>
</div>
