<div class="p-5 mb-4 bg-dark text-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Experience</h1>
    <p class="col-md-8 fs-4">My Practicum circled around <b>AWS ATA Program</b> and <b>Linked in learning.</b> <br />
    </p>
    <div class=" d-none d-lg-block">
      <div class="row">
        <div class="col-3">
          <div class="card">
            <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/accenture-logo.png"
              class="rounded-start image-icon" alt="...">
          </div>
        </div>
        <div class="col-3">
          <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/linked in.png"
            class="rounded-start image-icon" alt="...">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="text-dark">
  <h1 class="display-5 fw-bold">Practicum Engagement and Presentation of Output</h1>
  <h3 class="display-5 fw-bold">Accenture ATA Program</h3>
  <div class="row mb-4">
    <div class="col my-auto">
      <p>Accenture ATA Program provided 4 courses from AWS: <b>Application Developer</b>, <b>Cloud Support
          Engineer</b>, <b>Introduction to Cloud</b>, <b>Introduction to AWS Management Console.</b>
      </p>
      <p>On each of these courses, I was tasked to watch the videos and do hands-on projects as well as
        knowledge checks after each videos. There were also
        Final exams and even projects.
      </p>
    </div>
    <div class="col">
      <div class="text-center">
        <div class="card rounded p-5">
          <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/Aws_Courses.PNG"
            class="rounded img-fluid" alt="...">
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div class="text-center">
        <div class="card rounded p-5">
          <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/topic_application_developer.PNG"
            class="rounded img-fluid" alt="...">
        </div>
      </div>
    </div>
    <div class="col my-auto">
      <p>The image on the left shows the topics on course <b>Application Developer.</b> I learned about how to
        develop websites using javascipt, Data structures, Operating systems, and DevOps.
      </p>
    </div>


  </div>

  <div class="row mb-4">
    <div class="row">
      <div class="col my-auto">
        <p>The image above shows the topics on course <b>Cloud Support Engineer.</b> I learned about
          Virtualizations ond Operating Systems, Network Architecture, Programming using Python and, Security.
        </p>

        <p>The last 2 courses Introduction to <b>Cloud 101</b> and <b>Introduction to AWS Management</b> were
          the easiest of the 4 courses. Introduction to cloud helped me to gain knowledge and experience with cloud
          fundamentals especially on AWS(Amazon Web Services) Cloud
          while Introduction to the AWS Management Console shows us the collection of service consoles for managing AWS
          resources.
        </p>
      </div>
      <div class="col">
        <div class="text-center">
          <div class="card p-5">
            <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/topic_cloud_supportengineer.PNG"
              class="rounded img-fluid" alt="...">
          </div>
        </div>
      </div>
    </div>

  </div>
  <h3 class="display-5 fw-bold">Linked in Learning</h3>
  <div class="row">
    <div class="my-auto">
      <h3 class="display-5 fw-bold">Required Learning Modules</h3>
      <ul>
        <li>Design Thinking Learning Modules</li>

        <li>Learning Design Thinking: Lead Change in Your Organization (2H 8m)</li>

        <li>Develop Your Creative Thinking and Innovation Skills Learning Path (8H)</li>

        <li>Develop Critical-Thinking, Decision-Making, and Problem-Solving Skills</li>
      </ul>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <div *ngFor="let module of requiredLearningModules" class="col">
        <div class="card h-100" *ngIf="module.isDark === false">
          <img src={{module.imageLink}} class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{module.moduleTitle}}</h4>
            <p class="card-text">{{module.moduleDescription}}</p>
          </div>
          <div class="card-footer">
            <h4 class="card-title fw-bold">Date finished: </h4> {{module.dateFinished}}
          </div>
        </div>
        <div class="card h-100 bg-dark text-white" *ngIf="module.isDark === true">
          <img src={{module.imageLink}} class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{module.moduleTitle}}</h4>
            <p class="card-text">{{module.moduleDescription}}</p>
          </div>
          <div class="card-footer">
            <h4 class="card-title fw-bold">Date finished: </h4> {{module.dateFinished}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="my-auto">
        <h3 class="display-5 fw-bold">Project Management Learning Modules</h3>
        <ul>
          <li>Project Management Foundations (3H 20m)</li>

          <li>Become an Agile Project Manager (12H)</li>
        </ul>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <div *ngFor="let module of projectLearningModules" class="col">
        <div class="card h-100" *ngIf="module.isDark === false">
          <img src={{module.imageLink}} class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{module.moduleTitle}}</h4>
            <p class="card-text">{{module.moduleDescription}}
            </p>
          </div>
          <div class="card-footer">
            <h4 class="card-title fw-bold">Date finished: </h4>{{module.dateFinished}}
          </div>
        </div>
        <div class="card h-100 bg-dark text-white" *ngIf="module.isDark === true">
          <img src={{module.imageLink}} class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{module.moduleTitle}}</h4>
            <p class="card-text">{{module.moduleDescription}}
            </p>
          </div>
          <div class="card-footer">
            <h4 class="card-title fw-bold">Date finished: </h4>{{module.dateFinished}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="my-auto">
        <h3 class="display-5 fw-bold">Specialization Learning Modules</h3>
        <ul>
          <li>Improve your UX Design Skills (6H 50m)</li>

          <li>Become a Cloud Developer (12H)</li>
        </ul>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
      <div *ngFor="let module of specializationLearningModules" class="col">
        <div class="card h-100" *ngIf="module.isDark === false">
          <img src={{module.imageLink}} class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{module.moduleTitle}}</h4>
            <p class="card-text">{{module.moduleDescription}}
            </p>
          </div>
          <div class="card-footer">
            <h4 class="card-title fw-bold">Date finished: </h4> {{module.dateFinished}}
          </div>
        </div>
        <div class="card h-100 bg-dark text-white" *ngIf="module.isDark === true">
          <img src={{module.imageLink}} class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title fw-bold">{{module.moduleTitle}}</h4>
            <p class="card-text">{{module.moduleDescription}}
            </p>
          </div>
          <div class="card-footer">
            <h4 class="card-title fw-bold">Date finished: </h4> {{module.dateFinished}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
