<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
  <div class="col" *ngFor="let project of projects">
    <div *ngIf="project.isDark === true" class="h-100 p-5 text-white bg-dark rounded-3 card">
      <h2>{{project.projectTitle}}</h2>
      <p>{{project.projectDescription}}</p>
      <a class="btn btn-outline-light" href="{{project.githubLink}}" type="button">Go to Github Link <i
          class="fa-brands fa-github"></i></a>
    </div>
    <div *ngIf="project.isDark === false" class="h-100 p-5 text-dark bg-light rounded-3 card">
      <h2>{{project.projectTitle}}</h2>
      <p>{{project.projectDescription}}</p>
      <a class="btn btn-outline-dark" href="{{project.githubLink}}" type="button">Go to Github Link <i
          class="fa-brands fa-github"></i></a>
    </div>
  </div>
</div>
