<div class="row row-cols-1 row-cols-md-2 g-4 mb-3">
  <div class="col">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Flame And Wax</h2>
      <p>A website e-commerce application created using .NetCore MVC Framework C# Application.</p>
      <a class="btn btn-outline-light" href="https://github.com/johnvillar41/FlameAndWax-Web-Application"
        type="button">Go to Github Link <i class="fa-regular fa-paper-plane"></i></a>
    </div>
  </div>
  <div class="col">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>BGC Mobile Development</h2>
      <p>A android e-commerce application created using Native Android Framework and Java Language.</p>
      <a class="btn btn-outline-secondary" href="https://github.com/johnvillar41/BGC-Mobile-Development" type="button">Go to Github Link <i class="fa-regular fa-paper-plane"></i></a>
    </div>
  </div>
  <div class="col">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>BGC Web Development</h2>
      <p>A website e-commerce application created using ASP.NET Winforms Framework and C# Language.</p>
      <a class="btn btn-outline-secondary" href="https://github.com/johnvillar41/BGC-Web-Development" type="button">Go to Github Link <i class="fa-regular fa-paper-plane"></i></a>
    </div>
  </div>
  <div class="col">
    <div class="h-100 p-5 border bg-dark rounded-3 text-white">
      <h2>Sentiment Analysis Tool Web</h2>
      <p>A website created for Computing sentiments using .NetCore MVC Framework C# Application.</p>
      <a class="btn btn-outline-light" href="https://github.com/johnvillar41/SentimentAnalysisTool.Web" type="button">Go to Github Link <i class="fa-regular fa-paper-plane"></i></a>
    </div>
  </div>
  <div class="col">
    <div class="h-100 p-5 border bg-dark rounded-3 text-white">
      <h2>Sentiment Analysis Tool Api</h2>
      <p>An API for Computing sentiments using .NetCore Web API Framework C# Application.</p>
      <a class="btn btn-outline-light" href="https://github.com/johnvillar41/SentimentAnalysisTool.Api" type="button">Go to Github Link <i class="fa-regular fa-paper-plane"></i></a>
    </div>
  </div>
</div>
