<div class="p-5 mb-4 rounded-3 mt-2">
  <div class="container-fluid">
    <h1 class="display-5 fw-bold">Hi I'm John.</h1>
    <p class="col-md-8 fs-4">Urbanite, Foodie, Explorer and Aspiring artist. <br/>
      I study on Malayan Colleges Laguna, Intrigued by design, traveling, and gaming. <br/>
      <br/>
      Seeking to be inspired, to envision the unlikely, to work hard for things that are worth it and to be surrounded by those who bring out the best of me.
    </p>

    <h1 class="display-5 fw-bold">Skills</h1>
    <app-chips></app-chips>
  </div>

</div>
