<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-3">
  <div class="col">
    <div class="card mx-auto">
      <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/Cert_Machine_Vision.jpg" style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Machine Vision</h2>
        <a class="btn btn-outline-dark" onclick="window.open('https://johnvillar41.github.io/Website-portfolio/assets/images/Better code.PNG', '_blank');">Show Certificate <i class="fa-solid fa-eye"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mx-auto">
      <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/Better code.PNG" style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Better Code Management and Collaboration: Introduction to Git</h2>
        <a class="btn btn-outline-dark" onclick="window.open('https://johnvillar41.github.io/Website-portfolio/assets/images/Better code.PNG', '_blank');">Show Certificate <i class="fa-solid fa-eye"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mx-auto">
      <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/Ui_UX_CERT.png" style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">UI/UX Creating a Design System</h2>
        <a class="btn btn-outline-dark" onclick="window.open('https://johnvillar41.github.io/Website-portfolio/assets/images/Ui_UX_CERT.png', '_blank');">Show Certificate <i class="fa-solid fa-eye"></i></a>
      </div>
    </div>
  </div>
</div>
<!--Second row-->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  <div class="col">
    <div class="card mx-auto">
      <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/Aws_CloudComputing.PNG" style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">AWS Educate Introduction to Cloud 101</h2>
        <a class="btn btn-outline-dark" onclick="window.open('https://johnvillar41.github.io/Website-portfolio/assets/images/Aws_CloudComputing.PNG', '_blank');">Show Certificate <i class="fa-solid fa-eye"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mx-auto">
      <img
        src="https://johnvillar41.github.io/Website-portfolio/assets/images/CertificateOfCompletion_Learning Design Thinking Lead Change in Your Organization-1.png"
        style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Learning Design Thinking: Lead Change in Your Organization</h2>
        <a class="btn btn-outline-dark" onclick="window.open('https://johnvillar41.github.io/Website-portfolio/assets/images/CertificateOfCompletion_Learning Design Thinking Lead Change in Your Organization-1.png', '_blank');">Show Certificate <i class="fa-solid fa-eye"></i></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mx-auto">
      <img src="https://johnvillar41.github.io/Website-portfolio/assets/images/CertificateOfCompletion_Develop Your Creative Thinking and Innovation Skills (1)-1.png" style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">Develop Your Creative Thinking and Innovation Skills</h2>
        <a class="btn btn-outline-dark" onclick="window.open('https://johnvillar41.github.io/Website-portfolio/assets/images/CertificateOfCompletion_Develop Your Creative Thinking and Innovation Skills (1)-1.png', '_blank');">Show Certificate <i class="fa-solid fa-eye"></i></a>
      </div>
    </div>
  </div>
</div>
