<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
      aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner p-4">
    <div class="carousel-item active">
      <div class="text-white">
        <div class="row row-cols-md-2 row-cols-1 row-cols-lg-3 g-2">
          <div *ngFor="let cert of certificationsCarousel1" class="col">
            <div class="card bg-dark h-100 mx-auto">
              <img src="{{cert.certificationImageLink}}" style="height: 16rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">{{cert.certificationTitle}}</h2>
              </div>
              <button class="btn btn-outline-warning" (click)="onImageLinkClicked(cert.certificationImageLink)">Show
                Certificate <i class="fa-solid fa-eye"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="text-white">
        <div class="row row-cols-md-2 row-cols-1 row-cols-lg-3 g-2">
          <div *ngFor="let cert of certificationsCarousel2" class="col">
            <div class="card bg-dark h-100 mx-auto">
              <img src="{{cert.certificationImageLink}}" style="height: 16rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">{{cert.certificationTitle}}</h2>
              </div>
              <button class="btn btn-outline-warning" (click)="onImageLinkClicked(cert.certificationImageLink)">Show
                Certificate <i class="fa-solid fa-eye"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="text-white">
        <div class="row row-cols-md-2 row-cols-1 row-cols-lg-3 g-2">
          <div *ngFor="let cert of certificationsCarousel3" class="col">
            <div class="card bg-dark h-100 mx-auto">
              <img src="{{cert.certificationImageLink}}" style="height: 16rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">{{cert.certificationTitle}}</h2>

              </div>
              <button class="btn btn-outline-warning" (click)="onImageLinkClicked(cert.certificationImageLink)">Show
                Certificate <i class="fa-solid fa-eye"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="text-white">
        <div class="row row-cols-md-2 row-cols-1 row-cols-lg-3 g-2">
          <div *ngFor="let cert of certificationsCarousel4" class="col">
            <div class="card bg-dark h-100 mx-auto">
              <img src="{{cert.certificationImageLink}}" style="height: 16rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h2 class="card-title">{{cert.certificationTitle}}</h2>

              </div>
              <button class="btn btn-outline-warning" (click)="onImageLinkClicked(cert.certificationImageLink)">Show
                Certificate <i class="fa-solid fa-eye"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
