<div class="card-group">
  <div class="col">
    <div class="card mx-auto">
      <img src="../../assets/images/Cert_Machine_Vision.jpg" style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mx-auto">
      <img src="../../assets/images/Better code.PNG" style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mx-auto">
      <img src="../../assets/images/Ui_UX_CERT.png" style="height: 16rem;" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>
