<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body class="bg-dark">
  <app-toolbar></app-toolbar>
  <div class="container text-white">
    <div class="row">
      <app-detail></app-detail>
    </div>

    <div class="row">
      <h1 class="text-warning"><strong>Projects</strong></h1>
    </div>
    <hr />

    <div class="row">
      <app-projects></app-projects>
    </div>

    <div class="row text-dark">
      <h1><strong>Certifications</strong></h1>
    </div>
    <hr />

    <div class="row">
      <app-certifications></app-certifications>
    </div>

    <div class="row text-dark mt-4">
      <h1><strong>Synthesis</strong></h1>
    </div>
    <hr />

    <div class="row">
      <app-synthesis></app-synthesis>
    </div>

    <div class="row text-dark mt-4">
      <h1><strong>Appendices</strong></h1>
    </div>
    <hr />


    <div class="row">
      <app-appendices></app-appendices>
    </div>

    <div class="row text-dark mt-4">
      <h1><strong>Practicum Overview</strong></h1>
    </div>
    <hr />

    <div class="row">
      <app-practicum-overview></app-practicum-overview>
    </div>

  </div>
  <app-footer></app-footer>

</body>

</html>
