<h3 class="display-5 fw-bold">Languages</h3>
<span class="badge bg-warning text-dark">C#</span>
<span class="badge bg-warning text-dark">Typescript</span>
<span class="badge bg-warning text-dark">Java</span>
<span class="badge bg-warning text-dark">Python</span>
<span class="badge bg-warning text-dark">C++</span>

<h3 class="display-5 fw-bold">Frameworks</h3>
<span class="badge bg-warning text-dark">ASP .NET Core Web API</span>
<span class="badge bg-warning text-dark">ASP .NET Core Web</span>
<span class="badge bg-warning text-dark">ASP .NET Webforms(.NET Framework)</span>
<span class="badge bg-warning text-dark">Windows Forms App(.NET Framework)</span>
<span class="badge bg-warning text-dark">Angular Framework</span>
<span class="badge bg-warning text-dark">Android Framework</span>
<span class="badge bg-warning text-dark">Android(Xamarin) Framework</span>
<span class="badge bg-warning text-dark">xUnit(ASP .NET Core) Testing Framework</span>

<h3 class="display-5 fw-bold">Databases</h3>
<span class="badge bg-warning text-dark">SQLite</span>
<span class="badge bg-warning text-dark">MySQL</span>
<span class="badge bg-warning text-dark">SQL</span>

<h3 class="display-5 fw-bold">SQL Development Tools</h3>
<span class="badge bg-warning text-dark">DB Browser(SQLite)</span>
<span class="badge bg-warning text-dark">MySQL Workbench</span>
<span class="badge bg-warning text-dark">SQL Server</span>
<span class="badge bg-warning text-dark">XAMPP</span>
