<div class="card p-4 bg-dark text-white">
  <div class="card-body">
    <p class="big text-center">I did my practicum under Accenture ATA Program and Linkedin Learning.
      I learned a lot about the concept of cloud computing. The ATA Program
      focuses on the Amazon Web Services(AWS) including Simple Storage Service (S3),
      Amazon Cloud Elastic Compute (EC2), Identity and Access Management (IAM), and how cloud computing
      works with these services. For the LinkedIn Learning courses. It is an on-demand library of instructional videos covering the latest business,
      technology and creative skills. It provides personalized course recommendations and is designed
      to help you achieve your full potential. Thanks to Linked in Learning I improved my knowledge and skills in UX design, prototyping and interface design.
      Linkedin Learning also helped me greatly in acquiring further knowledge and skills due to numerous ammounts of courses. The majority of the needed learning modules are excellent preparation for working in a corporate environment.
     </p>
  </div>
</div>
