<footer class="text-center container-fluid text-white bg-dark mt-2">
  <div class="row">
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-1">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.facebook.com/john.villar.7796/"
          role="button" data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://www.linkedin.com/in/john-daniel-villar-977338239/" role="button" data-mdb-ripple-color="dark"><i
            class="fab fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://github.com/johnvillar41" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="container pt-4">

      <section class="mb-1">
        <p>Created with Angular, Typescript, and Bootsrap 5</p>

        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://www.typescriptlang.org" role="button"
          data-mdb-ripple-color="dark"><i class="fa-brands fa-js"></i></a>

        <a class="btn btn-link btn-floating btn-lg text-white m-1" href="https://angular.io" role="button"
          data-mdb-ripple-color="dark"><i class="fa-brands fa-angular"></i></a>

        <a class="btn btn-link btn-floating btn-lg text-white m-1"
          href="https://getbootstrap.com/docs/5.1/getting-started/introduction/" role="button"
          data-mdb-ripple-color="dark"><i class="fa-brands fa-bootstrap"></i></a>
      </section>
    </div>
  </div>
</footer>
